html {
  font-size: 2.0vw;
}

@media all and (min-width:1000px) {
  html {
    font-size: 20px;
  }
}

@media all and (max-width:520px) {
  html{
    font-size: 14px;
  }
}

html {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.45;
  text-align: center;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

body > header,
body > nav,
body > main,
body > footer {
  margin: 3rem auto;
  max-width: 25rem;
  padding: 0 1rem;
}

body > header {
  margin-bottom: 0;
  padding-bottom: 0;
}

body > main {
  margin-top: 1rem;
}

body > footer {
  border-top: 1px solid black;
  margin-top: 5rem;
}

a[href] {
  border-bottom: 1px dashed white;
  color: white;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid white;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-top: 5rem;
}

p {
  margin: 0 0 1em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
